/* src/components/FriendList/FriendList.module.css */
.friendList {
  width: 300px;
  margin: 0 auto 50px auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #e4e9f0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e4e9f0;
}

.item:last-child {
  border-bottom: none;
}

.statusOnline,
.statusOffline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 15px;
}

.statusOnline {
  background-color: #4caf50;
}

.statusOffline {
  background-color: #f44336;
}

.avatar {
  border-radius: 5px;
  margin-right: 15px;
}

.name {
  font-size: 16px;
  color: #122236;
}
