.contactList {
  list-style-type: none;
  padding: 0;
  width: 300px;
}

.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.contactListItem p {
  margin: 0;
}

.contactListItem button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.contactListItem button:hover {
  background-color: #c82333;
}
